### POST GRADUATE DIPLOMA IN MANAGEMENT - BATCH 6 - (2023-25) - TERM 2
### Course Name: Programming in Python
### Exam: Intenal Assessment 4
### Max Marks: 30 
### Duration: 1 hour 30 minutes
### All questions are compulsory. The marks for each question is provided alongside the question. 
### Answer all questions in the cell provided below each question. You may add more cells.
### Email your answersheet (this same notebook) back to gopal.roy@mse.ac.in

# ---------------------------------------------------------------------------------------------------------------

# Note
### Import/read the SalesData.csv data in a Pandas dataframe named sales_df and answer the following questions:

### Question 1: Answer the following (5 marks)
#### a) What is the total number of observations in the dataset?
#### b) Check for any missing values in the dataset.
#### c) Handle the missing data appropriately.
#### d) Identify unique categories in the "Category" column and count the number of occurrences for each category.
#### e) Visualize the distribution of purchases over different categories using a bar chart.

In [24]:
import pandas as pd 

df = pd.read_csv("SalesData.csv")
print(df.head(3))
print("------------------------------------------------------------------------")
print(df.info())
print("--------------------------------------------------------------------------")
print(df.isna().sum())
print("--------------------------------------------------------------------------")
df["Quantity_Sold"] = df["Quantity_Sold"].fillna(0.00)
print(df["Quantity_Sold"].isna().sum()) 
print("-----------------------------------------------------------------------------")
mean = df["Unit_Price"].mean()
df["Unit_Price"] = df["Unit_Price"].fillna(mean)
print(df["Unit_Price"].isna().sum())
print("_-----------------------------------------------------------------------------------")
df["Total_Sales"] = df["Total_Sales"].fillna(df["Quantity_Sold"]*df["Unit_Price"])
print(df["Total_Sales"].isna().sum())
print("--------------------------------------------------------------------------------")
df["Profit"] = df["Profit"].fillna(df["Total_Sales"]- (df["Quantity_Sold"]*df["Unit_Price"]))
print(df["Profit"].isna().sum())
print("---------------------------------------------------------------------------------------------")
df["Category"].unique().values_count()

     Category Purchase_Date  Gender Location    Purchase_Platform  Discount  \
0  Appliances    07-06-2022    Male     West             In-store         0
1       Books    08-02-2022  Female     West  Online: Own-website         1
2   Furniture    23-03-2022  Female     West  Online: Own-website         1

   Quantity_Sold  Unit_Price  Total_Sales      Profit
0           17.0   24.215934   411.670879  164.445265
1            9.0   72.630921   653.678286  148.407665
2           41.0   81.393522  3337.134383  333.893234
------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           500 non-null    object
 1   Purchase_Date      500 non-null    object
 2   Gender             500 non-null    object
 3   Location           500 non-null    object
 4   Purchase_Platform  500 non-null    object
 5   Discount           500 non-null    int64
 6   Quantity_Sold      481 non-null    float64
 7   Unit_Price         485 non-null    float64
 8   Total_Sales        480 non-null    float64
 9   Profit             480 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 39.2+ KB
None
--------------------------------------------------------------------------
Category              0
Purchase_Date         0
Gender                0
Location              0
Purchase_Platform     0
Discount              0
Quantity_Sold        19
Unit_Price           15
Total_Sales          20
Profit               20
dtype: int64
--------------------------------------------------------------------------
0
-----------------------------------------------------------------------------
0
_-----------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
---------------------------------------------------------------------------------------------

AttributeError: 'numpy.ndarray' object has no attribute 'values_count'

### Question 2:   Answer the following (5 marks)
#### a) Convert the "Purchase_Date" column to a datetime format.
#### b) Create a new column "Month" and "Quarter" based on the purchase date.
#### c) Calculate the total sales for each month and visualize the monthly sales trend using a line chart.

### Question 3: Answer the following (5 marks)
#### a) Calculate the total sales and profit for each gender and plot them in pie charts.
#### b) Create a pivot table that summarizes the total sales for each combination of "Gender" and "Category."
#### c) Visualize the pivot table using a heatmap to represent the total sales across different gender-category combinations.

### Question 4: Answer the following [5 Marks]
#### a) Visualize the relationship between unit price and Profit using a scatter plot.
#### b) Visualize the total sales for each location.
#### c) Visualize the profit for each location. Which location generates the maximum profit?

### Question 5: Answer the following [5 Marks]
#### a) Calculate the total number of customers who received discounts in each quarter of the year and plot the results using a bar chart. Which quarter witnessed maximum discounts?
#### b) Create a histogram to visualize the frequency distribution of the quantity sold.
#### c) Create a heatmap for month-wise sales for all categories of products