### POST GRADUATE DIPLOMA IN MANAGEMENT - BATCH 6 - (2023-25) - TERM 2
### Course Name: Programming in Python
### Exam: Intenal Assessment 3
### Max Marks: 30 
### Duration: 1 hour 30 minutes
### All questions are compulsory. The marks for each question is provided alongside the question. 
### Answer all questions in the cell provided below each question. You may add more cells.
### Email your answersheet (this same notebook) back to gopal.roy@mse.ac.in

# ---------------------------------------------------------------------------------------------------------------

# Note
### Import/read the sales_data.csv data in a dataframe named sales_df and answer the following questions:

### Question 1: Answer the following (6 marks)
- #### a) Display the column names.
- #### b) Display the data types of each column.
- #### c) Display the non-null values for each column.
- #### d) What is the shape of the sales dataset?
- #### e) Display the top 5 rows of the sales dataset.
- #### f) Display the bottom 6 rows of the sales dataset.

In [63]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("sales_data.csv")
print("---------------------------------------------------------------------------")
print(df.columns)
print("---------------------------------------------------------------------------")
print(df.dtypes)
print("---------------------------------------------------------------------------")
print(df.info())
print("---------------------------------------------------------------------------")
print(df.shape)
print("---------------------------------------------------------------------------")
print(df.head(5))
print("---------------------------------------------------------------------------")
print(df.tail(6))
print("---------------------------------------------------------------------------")

---------------------------------------------------------------------------
Index(['Category', 'Gender', 'Location', 'Discount', 'Quantity_Sold',
       'Unit_Price', 'Total_Sales', 'Profit'],
      dtype='object')
---------------------------------------------------------------------------
Category          object
Gender            object
Location          object
Discount         float64
Quantity_Sold    float64
Unit_Price       float64
Total_Sales      float64
Profit           float64
dtype: object
---------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Category       300 non-null    object
 1   Gender         300 non-null    object
 2   Location       300 non-null    object
 3   Discount       291 non-null    float64
 4   Quantity_Sold  295 non-null    float64
 5   Unit_Price     300 non-null    float64
 6   Total_Sales    295 non-null    float64
 7   Profit         295 non-null    float64
dtypes: float64(5), object(3)
memory usage: 18.9+ KB
None
---------------------------------------------------------------------------
(300, 8)
---------------------------------------------------------------------------
      Category  Gender Location  Discount  Quantity_Sold  Unit_Price  \
0    Furniture    Male    North       1.0           70.0   63.584652
1  Electronics  Female    North       1.0           33.0   16.036883
2    Furniture    Male    North       1.0           53.0   77.496442
3    Furniture    Male     East       1.0           22.0   28.891503
4  Electronics  Female     East       0.0           21.0   90.824886

   Total_Sales       Profit
0  4450.925609  1989.197349
1   529.217138   202.872845
2  4107.311444  1785.880913
3   635.613074   240.890099
4  1907.322607   709.631409
---------------------------------------------------------------------------
        Category  Gender Location  Discount  Quantity_Sold  Unit_Price  \
294  Electronics  Female     East       1.0           86.0   60.915877
295     Clothing  Female     West       1.0           92.0   34.032544
296     Clothing  Female    North       0.0           63.0   89.076699
297     Clothing  Female     East       1.0           61.0   81.768342
298     Clothing    Male    North       0.0           49.0   69.260665
299     Clothing  Female    South       0.0           71.0   86.552356

     Total_Sales       Profit
294  5238.765401  1453.757858
295  3130.994077  1400.358710
296  5611.832023   958.837147
297  4987.868859  1880.677853
298  3393.772591  1477.126338
299  6145.217249  2936.465563
---------------------------------------------------------------------------

### Question 2: Make a copy and use the copy dataframe for all the operations below (6 marks)

- #### a) Create a copy of the sales dataset and name it sales_copy.
- #### b) Replace "Male" with "M" and "Female" with "F" in the Gender column.
- #### c) Delete the 'Discount' column from the sales_copy dataframe.
- #### d) Rename the 'Profit' column to 'Profit_Margin' in the sales_copy dataframe.
- #### e) Show the summary statistics for the numeric columns in the sales_copy dataframe.
- #### f) Create a new dataframe named selected_data containing only the 'Category', 'Gender', 'Location', and 'Total_Sales' columns from the sales_copy dataframe where 'Total_Sales' is greater than 500.

In [62]:
sales_copy = df.copy()
print("-----------------------------------------------------------------------------")
print(sales_copy.head()) 
sales_copy["Gender"] = sales_copy["Gender"].replace({"Male": "M", "Female":"F"})
print("-----------------------------------------------------------------------------")
print(sales_copy.head())

del sales_copy["Discount"]
print("-----------------------------------------------------------------------------")
print(sales_copy.head(1))

sales_copy.rename(columns={"Profit": "Profit_Margin"}, inplace=True)
print("-----------------------------------------------------------------------------")
print(sales_copy.head(1))

print("-----------------------------------------------------------------------------")
print(sales_copy.describe())

selected_data = sales_copy[sales_copy["Total_Sales"]> 500][["Category", "Gender","Location","Total_Sales"]]
print("-----------------------------------------------------------------------------")
print(selected_data.head(1))

-----------------------------------------------------------------------------
      Category  Gender Location  Discount  Quantity_Sold  Unit_Price  \
0    Furniture    Male    North       1.0           70.0   63.584652
1  Electronics  Female    North       1.0           33.0   16.036883
2    Furniture    Male    North       1.0           53.0   77.496442
3    Furniture    Male     East       1.0           22.0   28.891503
4  Electronics  Female     East       0.0           21.0   90.824886

   Total_Sales       Profit
0  4450.925609  1989.197349
1   529.217138   202.872845
2  4107.311444  1785.880913
3   635.613074   240.890099
4  1907.322607   709.631409
-----------------------------------------------------------------------------
      Category Gender Location  Discount  Quantity_Sold  Unit_Price  \
0    Furniture      M    North       1.0           70.0   63.584652
1  Electronics      F    North       1.0           33.0   16.036883
2    Furniture      M    North       1.0           53.0   77.496442
3    Furniture      M     East       1.0           22.0   28.891503
4  Electronics      F     East       0.0           21.0   90.824886

   Total_Sales       Profit
0  4450.925609  1989.197349
1   529.217138   202.872845
2  4107.311444  1785.880913
3   635.613074   240.890099
4  1907.322607   709.631409
-----------------------------------------------------------------------------
    Category Gender Location  Quantity_Sold  Unit_Price  Total_Sales  \
0  Furniture      M    North           70.0   63.584652  4450.925609

        Profit
0  1989.197349
-----------------------------------------------------------------------------
    Category Gender Location  Quantity_Sold  Unit_Price  Total_Sales  \
0  Furniture      M    North           70.0   63.584652  4450.925609

   Profit_Margin
0    1989.197349
-----------------------------------------------------------------------------
       Quantity_Sold  Unit_Price  Total_Sales  Profit_Margin
count     295.000000  300.000000   295.000000     295.000000
mean       48.457627   54.484539  2650.758730     826.636125
std        27.779208   26.563637  2068.785574     782.428655
min         1.000000   10.989625    31.764141       4.093742
25%        26.000000   30.787620   962.502931     240.569373
50%        49.000000   54.578703  2154.752314     622.993240
75%        71.000000   78.362227  3830.125534    1202.062318
max        99.000000   99.814070  9592.341710    4392.589024
-----------------------------------------------------------------------------
    Category Gender Location  Total_Sales
0  Furniture      M    North  4450.925609

### Question 3: create another copy of sales_data.csv named sales_newcopy and answer the following (6 marks)
- #### a) How many missing values are there in each column of the sales_newcopy dataframe?
- #### b) Replace all missing values in the sales_newcopy dataframe with zeros.
- #### c) How many customers received a discount ('Discount' column value = 1), and how many did not?
- #### d) What is the maximum value of the Unit_Price column?
- #### e) What is the mean value of the Quantity_Sold column?
- #### f) What is the median value of the Profit column?

In [64]:
sales_newcopy = df.copy()
print("---------------------------------------------------------------------------")
print(sales_newcopy.isnull().sum())

sales_newcopy = sales_newcopy.fillna(0)
print("---------------------------------------------------------------------------")
print(sales_newcopy.isnull().sum())

print("---------------------------------------------------------------------------")
print(sales_newcopy["Discount"].value_counts())

print("---------------------------------------------------------------------------")
print(sales_newcopy["Unit_Price"].max())

print("---------------------------------------------------------------------------")
print(sales_newcopy["Quantity_Sold"].mean())

print("---------------------------------------------------------------------------")
print(sales_newcopy["Profit"].median())

---------------------------------------------------------------------------
Category         0
Gender           0
Location         0
Discount         9
Quantity_Sold    5
Unit_Price       0
Total_Sales      5
Profit           5
dtype: int64
---------------------------------------------------------------------------
Category         0
Gender           0
Location         0
Discount         0
Quantity_Sold    0
Unit_Price       0
Total_Sales      0
Profit           0
dtype: int64
---------------------------------------------------------------------------
Discount
0.0    163
1.0    137
Name: count, dtype: int64
---------------------------------------------------------------------------
99.81406995
---------------------------------------------------------------------------
47.65
---------------------------------------------------------------------------
596.7017682000001

### Question 4: Group the sales_newcopy dataframe by the 'Category' column and use aggregate functions to calculate the min, max, mean, sum, and standard deviation of 'Unit_Price', 'Quantity_Sold', and 'Total_Sales' for each category. Display the resulting summary statistics. [6 Marks]

In [53]:
summary_statistics = sales_newcopy.groupby('Category').agg({
    'Unit_Price': ['min', 'max', 'mean', 'sum', 'std'],
    'Quantity_Sold': ['min', 'max', 'mean', 'sum', 'std'],
    'Total_Sales': ['min', 'max', 'mean', 'sum', 'std']
})

print(summary_statistics)

            Unit_Price                                                \
                   min        max       mean          sum        std
Category
Clothing     11.170173  98.895015  57.852828  5438.165820  27.615348
Electronics  10.989625  98.596196  52.734767  5220.741903  26.832837
Furniture    12.438639  99.814070  53.144429  5686.453900  25.316502

            Quantity_Sold                                     Total_Sales  \
                      min   max       mean     sum        std         min
Category
Clothing              0.0  97.0  48.989362  4605.0  29.936670         0.0
Electronics           0.0  97.0  43.101010  4267.0  27.526423         0.0
Furniture             0.0  99.0  50.682243  5423.0  27.059891         0.0


                     max         mean            sum          std
Category
Clothing     9592.341710  2876.846662  270423.586198  2375.731489
Electronics  7074.588102  2148.298364  212681.538078  1695.684454
Furniture    8630.850343  2793.165429  298868.700952  2071.280061

### Question 5: Create a pivot table using the sales_newcopy dataframe, where the rows are defined by the 'Category' and 'Discount' columns, and the values are the mean of 'Unit_Price', 'Quantity_Sold', and 'Profit'. Reset the index of the created pivot table. Display the resulting pivot table. [6 Marks]

In [58]:
pivot_table = pd.pivot_table(
    sales_newcopy,
    values=['Unit_Price', 'Quantity_Sold', 'Profit'],
    index=['Category', 'Discount'],
    aggfunc='mean'
)

pivot_table = pivot_table.reset_index()


print(pivot_table.head())

      Category  Discount      Profit  Quantity_Sold  Unit_Price
0     Clothing       0.0  850.263225      49.268293   59.264339
1     Clothing       1.0  896.382414      48.773585   56.760904
2  Electronics       0.0  683.138262      46.155172   55.423938
3  Electronics       1.0  685.447744      38.780488   48.930573
4    Furniture       0.0  898.854835      52.703125   50.524846